body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color:rgb(243, 244, 245);
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(73, 15, 172, 0.1),
      0 2px 4px -1px rgba(85, 8, 53, 0.07);
    width: 100%; 
    max-width: 32rem;
    margin:0 auto;   
}

.title{
    font-size: 1.834rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(214, 73, 120);
}

.form-group{
    margin-bottom:1rem;
}

.label{
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color:rgb(124, 124, 226)
}

.input,
.select{
    appearance: none ;
    border-width: 1px;
    border-color:rgb(137, 184, 225);
    border-radius: 0.375rem;
    padding: 0.5rem 0.6rem;
    font-size:12px;
    outline: none;
    width: 100%;
    transition: border-color 0.15s
    ease-in-out, shadow-5m 0.15s
    ease-in-out;
    background-color: rgb(235, 235, 238);
    color: black;
}

.input:focus,
.select:focus{
    border-color: lightcoral;
    box-shadow: 0 0 0 3px rgba(96, 101, 211, 0.1);
}
.button{
    background-color: rgb(98, 86, 231);
    color: white;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 0.45rem;
    border:none;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
     transition: background-color 0.15s
     ease-in-out,transform 0.1s ease-in-out;
     display: inline-flex;
     align-items: center;
     justify-content: center;
}

.button:hover{
    background-color: rgb(127, 127, 191);
}
.button:active{
    background-color: rgb(96, 96, 189);
    transform: translateY(1px);
}

#result{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #1e2430;
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(215, 228, 233);
    border: 1px solid skyblue
}

.error-message{
    color: red;
}
.success-message{
    color: green;
}